# Label Encoding and Frequency Encoding

In [1]:
#Importing Library
import pandas as pd

In [2]:
#Loading Titanic Dataset
train=pd.read_csv("train.csv")

In [3]:
train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [4]:
#Count of Categorical Feature values
train.Embarked.value_counts()

S    644
C    168
Q     77
Name: Embarked, dtype: int64

In [5]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

## Perform Label Encoding to handle Categorical Features(Ordinal)

<b>Nominal Categorical Feature</b> : A categorical variable that has two or more categories, but there is no intrinsic ordering to the categories. For example, gender is a categorical variable having two categories (male and female) and there is no intrinsic ordering to the categories.

<b>Ordinal Categorical Feature</b> : A categorical variable that has two or more categories where variables have natural, ordered categories. For example, socio economic status (“low income”,”middle income”,”high income”), education level (“high school”,”BS”,”MS”,”PhD”), income level (“less than 50K”, “50K-100K”, “over 100K”).

<b>Label Encoding</b> refers to converting the labels into numeric form so as to convert it into the machine-readable form. Machine learning algorithms can then decide in a better way on how those labels must be operated. It is an important pre-processing step for the structured dataset in supervised learning.
It can be performed in two ways, one is in Alphabetical order and other one is Order of Appearance.

### 1. Alphabetical Order

In [6]:
#Using Label Encoder
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()

In [7]:
train['embark_LE']=le.fit_transform(train['Embarked'].astype('str'))

In [8]:
train_labelled=train[['Embarked','embark_LE']]

In [9]:
train_labelled.head(10)

  Embarked  embark_LE
0        S          2
1        C          0
2        S          2
3        S          2
4        S          2
5        Q          1
6        S          2
7        S          2
8        S          2
9        C          0

### 2. Order of Appearance

In [10]:
#Using Pandas Factorize method
train['embark_factored']=pd.factorize(train['Embarked'])[0]

In [11]:
train_factorize=train[['Embarked','embark_factored']]

In [12]:
train_factorize.head(10)

  Embarked  embark_factored
0        S                0
1        C                1
2        S                0
3        S                0
4        S                0
5        Q                2
6        S                0
7        S                0
8        S                0
9        C                1

## Perform Frequency Encoding to handle Categorical Features(Ordinal)

<b> Frequency encoding</b> refers to the type of encoding in which categorical feature values are mapped to their frequencies i.e., frequency of occurrence in dataset.

In [13]:
encoding= train.groupby('Embarked').size()

In [14]:
encoding=encoding/len(train)
encoding

Embarked
C    0.188552
Q    0.086420
S    0.722783
dtype: float64

In [15]:
train['embark_freq']=train['Embarked'].map(encoding)

In [16]:
train_frequency=train[['Embarked','embark_freq']]

In [17]:
train_frequency.head(10)

  Embarked  embark_freq
0        S     0.722783
1        C     0.188552
2        S     0.722783
3        S     0.722783
4        S     0.722783
5        Q     0.086420
6        S     0.722783
7        S     0.722783
8        S     0.722783
9        C     0.188552

<b> Conclusion</b> : 
1. Values in ordinal features are sorted in some meaningful order.
2. Label Encoding maps categories to numbers.
3. Frequency Encoding maps categories to their frequencies.
4. Label and Frequency Encoding are often used for Tree based models