# Handle Holidays Dates in Pandas

In [1]:
import pandas as pd

In [2]:
data=pd.read_csv('apple_no_dates.csv')

In [3]:
data

      Open    High     Low   Close    Volume
0   144.88  145.30  143.10  143.50  14277848
1   143.69  144.79  142.72  144.09  21569557
2   143.02  143.50  142.41  142.73  24128782
3   142.90  144.75  142.90  144.18  19201712
4   144.11  145.95  143.37  145.06  21090636
5   144.73  145.85  144.38  145.53  19781836
6   145.87  146.18  144.82  145.74  24884478
7   145.50  148.49  145.44  147.77  25199373
8   147.97  149.33  147.33  149.04  20132061
9   148.82  150.90  148.57  149.56  23793456
10  149.20  150.13  148.67  150.08  17868792
11  150.48  151.42  149.95  151.02  20922969
12  151.50  151.74  150.19  150.34  17243748
13  149.99  150.44  148.88  150.27  26252630

In [4]:
#Creating range as per business day frequency
rnge=pd.date_range(start='7/1/2017',end='7/21/2017',freq='B')
rnge

DatetimeIndex(['2017-07-03', '2017-07-04', '2017-07-05', '2017-07-06',
               '2017-07-07', '2017-07-10', '2017-07-11', '2017-07-12',
               '2017-07-13', '2017-07-14', '2017-07-17', '2017-07-18',
               '2017-07-19', '2017-07-20', '2017-07-21'],
              dtype='datetime64[ns]', freq='B')

### Exclude holiday in US i.e. 4th july

In [5]:
from pandas.tseries.holiday import USFederalHolidayCalendar
from pandas.tseries.offsets import CustomBusinessDay

In [6]:
#Create object of CustomBusinessDay and pass USFederalHolidayCalendar in arguments which is a pre-defined US Holiday Calendar
usb=CustomBusinessDay(calendar=USFederalHolidayCalendar())
usb

In [7]:
#Use object of CustomBusinessDay as frequency
rnge_new=pd.date_range(start='7/1/2017',end='7/21/2017',freq=usb)
rnge_new

DatetimeIndex(['2017-07-03', '2017-07-05', '2017-07-06', '2017-07-07',
               '2017-07-10', '2017-07-11', '2017-07-12', '2017-07-13',
               '2017-07-14', '2017-07-17', '2017-07-18', '2017-07-19',
               '2017-07-20', '2017-07-21'],
              dtype='datetime64[ns]', freq='C')

In [8]:
data.set_index(rnge_new,inplace=True)

In [9]:
#Data excluding US Holiday and Business days
data

              Open    High     Low   Close    Volume
2017-07-03  144.88  145.30  143.10  143.50  14277848
2017-07-05  143.69  144.79  142.72  144.09  21569557
2017-07-06  143.02  143.50  142.41  142.73  24128782
2017-07-07  142.90  144.75  142.90  144.18  19201712
2017-07-10  144.11  145.95  143.37  145.06  21090636
2017-07-11  144.73  145.85  144.38  145.53  19781836
2017-07-12  145.87  146.18  144.82  145.74  24884478
2017-07-13  145.50  148.49  145.44  147.77  25199373
2017-07-14  147.97  149.33  147.33  149.04  20132061
2017-07-17  148.82  150.90  148.57  149.56  23793456
2017-07-18  149.20  150.13  148.67  150.08  17868792
2017-07-19  150.48  151.42  149.95  151.02  20922969
2017-07-20  151.50  151.74  150.19  150.34  17243748
2017-07-21  149.99  150.44  148.88  150.27  26252630

All weekends and US Calendar Holidays are removed

### Define Custom Holiday Calendar

In [10]:
from pandas.tseries.holiday import AbstractHolidayCalendar, nearest_workday,Holiday

#Use AbstractHolidayCalendar class to define your own Custom Holiday Calendar
class myBirthdayCalendar(AbstractHolidayCalendar):
    #Creating My birthday calendar i.e. 17/07
    rules= [
        Holiday("Sahil's birthdy ",month=7,day=17) #observance=nearest_workday means if your bday is on weekend lets say 15 is saturday then it will remove friday i.e 14 from the calendar
    ]

my_calendar=CustomBusinessDay(calendar=myBirthdayCalendar())
my_calendar

In [11]:
#Use object of CustomBusinessDay as frequency and pass myBirthdayCalendar as argument
range_mybday=pd.date_range('7/1/2020','7/31/2020',freq=my_calendar)
range_mybday

DatetimeIndex(['2020-07-01', '2020-07-02', '2020-07-03', '2020-07-06',
               '2020-07-07', '2020-07-08', '2020-07-09', '2020-07-10',
               '2020-07-13', '2020-07-14', '2020-07-15', '2020-07-16',
               '2020-07-20', '2020-07-21', '2020-07-22', '2020-07-23',
               '2020-07-24', '2020-07-27', '2020-07-28', '2020-07-29',
               '2020-07-30', '2020-07-31'],
              dtype='datetime64[ns]', freq='C')

### CustomBusinessDay for UAE where Friday is weekend and Sunday is working

In [12]:
uae_day=CustomBusinessDay(weekmask='Sun Mon Tue Wed Thu',holidays=["2020-07-05"]) #holiday parameter to add holidays other othan weekends, so lets say eid is on 5th july
range_uae=pd.date_range('7/1/2020','7/31/2020',freq=uae_day)
range_uae

DatetimeIndex(['2020-07-01', '2020-07-02', '2020-07-06', '2020-07-07',
               '2020-07-08', '2020-07-09', '2020-07-12', '2020-07-13',
               '2020-07-14', '2020-07-15', '2020-07-16', '2020-07-19',
               '2020-07-20', '2020-07-21', '2020-07-22', '2020-07-23',
               '2020-07-26', '2020-07-27', '2020-07-28', '2020-07-29',
               '2020-07-30'],
              dtype='datetime64[ns]', freq='C')

Weekend is changed from Sunday to Friday and also date range is created without weekends too.